{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{minimum_otp_vsn, "28"}.

{deps, []}.

{project_plugins, [rebar3_ex_doc]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"},
            {meck, "0.9.2"}
        ]},
        {erl_opts, [nowarn_export_all]}
    ]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/estun">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.

{shell, [{apps, [estun]}]}.
